In [1]:
import pandas as pd

In [3]:
main = pd.read_csv('GDP growth.csv')

In [4]:
main

,Country Name,Country Code,Indicator Name,Indicator Code,2000,2001,2002,2003,2004,2005,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,7.622921,4.182002,-0.944953,1.110505,7.293728,-0.383138,...,-1.586575,-0.623626,1.719625,7.048533,2.381730,-2.302836,-23.982581,27.639357,10.458317,NaN
1,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,3.219803,3.510147,3.841646,2.963405,5.557364,6.164836,...,3.983182,3.011572,2.183581,2.651400,2.681718,2.189259,-2.780379,4.497380,3.554422,2.622310
2,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,-9.431974,28.600001,8.832278,1.414118,11.229715,...,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101,-20.738839,-6.240172,NaN
3,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,3.859760,5.209094,9.927427,5.532967,7.992699,5.828940,...,5.925583,2.813979,0.141489,2.284961,2.842645,3.222029,-1.004417,3.994854,3.784486,3.342776
4,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,3.054624,4.205999,13.665689,2.990000,10.950000,15.030000,...,4.822559,0.943572,-2.580111,-0.147150,-1.316362,-0.702273,-5.638215,1.199211,3.045403,0.856001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Kosovo,XKX,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.348805,5.916231,5.571775,4.825656,3.406632,4.756801,-5.340275,10.745656,4.278499,3.337895
261,"Yemen, Rep.",YEM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,6.181916,3.803646,3.935232,3.747398,3.972696,5.591748,...,-0.188690,-27.994546,-9.375124,-5.071796,0.752448,NaN,NaN,NaN,NaN,NaN
262,South Africa,ZAF,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,4.200000,2.700000,3.700374,2.949075,4.554560,5.277052,...,1.413826,1.321862,0.664552,1.157947,1.556784,0.259936,-5.963358,4.703062,1.910406,0.601662
263,Zambia,ZMB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,3.897323,5.316868,4.506014,6.944974,7.032395,7.235599,...,4.693283,2.920375,3.755100,3.525863,4.034494,1.441306,-2.785055,6.234922,5.249622,5.832474
264,Zimbabwe,ZWE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,-3.059190,1.439615,-8.894024,-16.995075,-5.807538,-5.711084,...,1.484543,2.023650,0.900955,4.080264,5.009867,-6.332446,-7.816951,8.468017,6.522375,4.955782

In [5]:
metadata_country = pd.read_csv('Metadata_Country_API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_31631.csv')

In [6]:
metadata_country.head()

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,NaN,Aruba,NaN
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern,NaN
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,NaN
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central,NaN
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola,NaN

In [7]:
main['Country Name'].nunique()

265

In [8]:
main.drop(columns=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1, inplace=True)
# Menggunakan pd.melt untuk mengubah kolom-kolom tahun menjadi baris
df_melt = pd.melt(main, id_vars=['Country Name'],
                  value_vars=['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
                              '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
                              '2018', '2019', '2020', '2021', '2022', '2023'], 
                  var_name='Year', value_name='Value')

In [10]:
df_melt.to_csv('GDP_melt.csv', index=False)