In [1]:
import pandas as pd

In [4]:
main = pd.read_csv('inflation.csv')

In [5]:
main

,Country Name,Country Code,Indicator Name,Indicator Code,2000,2001,2002,2003,2004,2005,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,4.044021,2.883604,3.315247,3.656365,2.529129,3.397787,...,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,8.601485,5.840354,8.763754,7.449700,5.023421,8.558038,...,5.370290,5.245878,6.571396,6.399343,4.720805,4.653665,5.405162,7.240978,10.773751,7.126975
2,Afghanistan,AFG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,12.686269,...,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,2.530775,4.361529,3.188693,1.760904,0.694336,5.631634,...,1.768436,2.130817,1.487416,1.725486,1.784050,1.760112,2.437609,3.653533,7.967574,4.670084
4,Angola,AGO,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,324.996872,152.561023,108.897436,98.224144,43.542107,22.953514,...,7.280387,9.355972,30.694415,29.844480,19.628938,17.080954,22.271539,25.754295,21.355290,13.644102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Kosovo,XKX,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,-1.084813,-1.064727,-1.385189,...,0.428958,-0.536929,0.273169,1.488234,1.053798,2.675992,0.198228,3.353691,11.580510,4.944227
261,"Yemen, Rep.",YEM,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,4.590000,11.911591,12.238534,10.832361,12.515095,11.811264,...,8.104726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,South Africa,ZAF,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,5.338951,5.701900,9.494711,5.679418,-0.692030,2.062846,...,6.129838,4.540642,6.571396,5.184247,4.517165,4.120246,3.210036,4.611672,7.039727,6.073909
263,Zambia,ZMB,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,26.030412,21.393782,22.233345,21.401578,17.967789,18.324440,...,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316,15.733060,22.020768,10.993204,10.884532
264,Zimbabwe,ZWE,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.197785,-2.430968,-1.543670,0.893962,10.618866,255.304991,557.201817,98.546105,104.705171,NaN

In [6]:
main.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', '2023'],
      dtype='object')

In [7]:
main.drop(columns=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1, inplace=True)
# Menggunakan pd.melt untuk mengubah kolom-kolom tahun menjadi baris
df_melt = pd.melt(main, id_vars=['Country Name'],
                  value_vars=['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
                              '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
                              '2018', '2019', '2020', '2021', '2022', '2023'], 
                  var_name='Year', value_name='Value')

In [8]:
main['Country Name'].nunique()

265

In [9]:
df_melt

                     Country Name  Year       Value
0                           Aruba  2000    4.044021
1     Africa Eastern and Southern  2000    8.601485
2                     Afghanistan  2000         NaN
3      Africa Western and Central  2000    2.530775
4                          Angola  2000  324.996872
...                           ...   ...         ...
6355                       Kosovo  2023    4.944227
6356                  Yemen, Rep.  2023         NaN
6357                 South Africa  2023    6.073909
6358                       Zambia  2023   10.884532
6359                     Zimbabwe  2023         NaN

[6360 rows x 3 columns]

In [10]:
df_melt.to_csv('inflation_melt.csv', index=False)